svg {
  filter: invert(100%) sepia(25%) saturate(0%) hue-rotate(33deg)
    brightness(113%) contrast(100%);
  width: 1.75rem;
  height: 1.75rem;
}

#banner {
  flex-grow: 1;
  font-size: 20px;
  font-weight: bolder;
  height: 100%;
  padding: 0px 2vw;
  height: 100%;
  overflow: hidden;
}

.tab,
.banner-container,
#banner,
.banner-sub-container {
  display: flex;
}

.tab {
  align-items: center;
  gap: 1rem;
}

.banner-container {
  justify-content: flex-end;
  flex-grow: 1;
  box-sizing: border-box;
}

.banner-sub-container {
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
}

a {
  text-decoration: none;
  color: #fff;
}

.banner-element {
  padding: 0.75rem;
  width: fit-content;
  border-radius: 9999px;
  cursor: pointer;
}

.banner-element:hover {
  background-color: rgba(231, 233, 234, 0.1);
}

@media only screen and (max-width: 756px) {
  .tab .tab-title {
    display: none;
  }
}
