svg {
  filter: invert(100%) sepia(25%) saturate(0%) hue-rotate(33deg)
    brightness(113%) contrast(100%);
  width: 1.75rem;
  height: 1.75rem;
}

#banner {
  min-width: 2rem;
  border-right: 1px solid gray;
  font-size: 20px;
  font-weight: bolder;
  height: 100%;
}

.tab,
.banner-container {
  display: flex;
}

.tab {
  align-items: center;
  gap: 0.5rem;
}

.banner-container {
  flex-direction: column;
  align-items: flex-end;
}

.banner-element {
  width: 50%;
}

.banner-container {
  margin: 2vh 4vw;
}

a {
  text-decoration: none;
  color: #fff;
}
