#home {
  flex-grow: 4;
}

#home {
  display: flex;
  justify-content: flex-start;
  overflow-y: auto;
  height: 100%;
}

@media only screen and (max-width: 1080px) {
  #sidebar {
    display: none;
  }

  #banner {
    flex-grow: 0;
  }
}
